@use '../base/mixins.scss' as *;

.button {
    @include btn;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.button:disabled {
    @include disabled;
}

.primary {
    background-color: #2472E1;
    color: #ffffff;
}

.sm {
    font-size: 14px;
}

.md {
    font-size: 16px;
}

.lg {
    font-size: 18px;
}



