@use '../base/variables.scss';
@use '../base/mixins.scss' as *;

.main {
    min-height: 100vh;
}

.create {
    padding: 50px 20px;

    .title_centre {
        text-align: center;
        color: var(--text--color);
    }

    .create__content {
        margin-top: 10px;
        padding: 20px 20px;
        border: 1px solid var(--bg--primary);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: safe center;
        align-items: center;
    }

    .create__question_message,
    .create__question_answer {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 400;
        color: #000;
        text-shadow: 1px 2px 10px #a7a5a5;
    }
    .create__question_answer {
        font-size: 16px;
    }

    .create__question {
        width: 100%;
        margin-top: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: safe center;
        align-items: left;
        gap: 10px;
        background: linear-gradient(145deg, rgb(178, 188, 198), rgb(161, 171, 181), rgb(200, 207, 214));
        box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.20), -8px -8px 16px rgba(255, 255, 255, 0.35);
        backdrop-filter: blur(10px);
        border-radius: 12px;

        .create__question_content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;

            .create__question_title {
                font-size: 26px;
                max-width: 434px;
                color: var(--text--color);
            }

            .create__question_choice {
                padding: 10px 10px;
                border: 1px solid var(--foreground);
                color: var(--text--color);
            }
        }

        .create__question_field {
            display: flex;
            justify-content: safe center;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            margin-top: 10px;
            & .items {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            div {
                @include icons;
            }                       
        }
        
        .create__question_btn {
            display: flex;
            flex-direction: column;
            justify-content: safe left;
            align-items: left;
        }
    }

    .create__operation {
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .create__save, 
        .create__decline,
        .btn__back {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            color: green;
            min-width: 220px;
            font-size: 18px;
            padding: 15px 20px;
            border-radius: 12px;
            border: none;
            background-color: var(--bg--primary);
            transition: .5s;
            @include disabled(#e9ebec);

            &:hover {
                box-shadow: 1px 2px 10px #c2c1c1;
            }
        }
        .create__decline {
            color: red;
        }
        .btn__back {
            margin-top: 20px;
            color: blue;
        }

        .create__indicator {
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.5s, visibility 0.5s;
            gap: 10px;
            &_circle {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: rgb(15, 193, 15);
            }
            &_title {
                font-weight: normal;
                font-size: 18px;
                color: rgb(28, 86, 28);
            }

        }
        .changes {
            opacity: 1;
            visibility: visible;
        }

    }

}