@use '../base/variables.scss';
@use '../base/mixins.scss' as *;
@use '../base/checkbox-radio-result.scss' as cb;

.main {
    min-height: 100vh;
}

.create {
    padding: 50px 20px;

    .title_centre {
        text-align: center;
        color: var(--text--color);
    }

    .rules {
        position: relative;
        display: inline-block;
        cursor: help;
        color: rgb(160, 158, 158);
    }

    .tooltip_box {
        display: block;
        text-align: center;
        position: absolute;
        bottom: 125%;
        left: 20%;
        transform: translateX(-20%);
        width: 160px;
        background: #ffffff;
        color: #202122;
        font-size: 14px;
        line-height: 1.5;
        border: 1px solid #a2a9b1;
        border-radius: 4px;
        padding: 10px;
        box-shadow: 0 2px 8px #00000026;
        transition: opacity 0.2s ease;
        z-index: 10;
        visibility: hidden;
        opacity: 0;

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            border-width: 6px;
            border-style: solid;
            border-color: #ffffff transparent transparent transparent;

        }

    }
    .rules:hover .tooltip_box {
        opacity: 1;
        visibility: visible;
    }


    .create__content {
        margin-top: 10px;
        padding: 20px 20px;
        border: 1px solid var(--bg--primary);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: safe center;
        align-items: stretch;
        transition: background 0.3s;
    }

    .create__question_message,
    .create__question_answer {
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
        font-weight: 400;
        color: #000;
        text-shadow: 1px 2px 10px #a7a5a5;
    }
    .create__question_answer {
        font-size: 16px;
    }

    .create__question {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: safe center;
        align-items: left;
        gap: 10px;
        background: linear-gradient(145deg, rgb(178, 188, 198), rgb(161, 171, 181), rgb(200, 207, 214));
        box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.20), -8px -8px 16px rgba(255, 255, 255, 0.35);
        backdrop-filter: blur(10px);
        border-radius: 12px;
        transition: background 0.3s;

        &_content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
        }  

        &_title {
            font-size: 26px;
            max-width: 434px;
            color: var(--text--color);
        }

        &_choice {
            padding: 10px 10px;
            border: 1px solid var(--foreground);
            color: var(--text--color);
        }
        

        &_field {
            display: flex;
            justify-content: safe center;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            margin-top: 10px;
            & .items {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &.isAppearing {
                    @include appear(0.2s);
                }

                &.isDisappearing {
                    @include disAppear(0.2s);

                    & ~ .items {
                        translate: 0 calc((100% + 8px) * -1);
                        transition-delay: 0.2s;
                        transition-duration: 0.2s;
                        pointer-events: none;
                    }
                }

                & .isInCorrect {
                    color: red;
                }
                & .isCorrect {
                    color: rgb(41, 157, 41);
                }
            }
            div {
                @include icons;
            }                       
        }
        
        &_btn {
            display: flex;
            flex-direction: column;
            justify-content: safe left;
            align-items: left;
        }
        &.isAppearing {
            @include appear(0.2s);
        }
    }

    .create__operation {
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .create__save, 
        .create__decline,
        .btn__back {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            color: green;
            min-width: 220px;
            font-size: 18px;
            padding: 15px 20px;
            border-radius: 12px;
            border: none;
            background-color: var(--bg--primary);
            transition: .5s;
            @include disabled(#e9ebec);

            &:hover {
                box-shadow: 1px 2px 10px #c2c1c1;
            }
        }
        .create__decline {
            color: red;
        }
        .btn__back {
            margin-top: 20px;
            color: blue;
        }

        .create__indicator {
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.5s, visibility 0.5s;
            gap: 10px;
            &_circle {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: rgb(15, 193, 15);
                box-shadow: 0 0 4px rgba(74, 222, 128, 0.8);
                animation: pulse-animation 2s infinite;
            }
            &_title {
                font-weight: normal;
                font-size: 18px;
                color: #169316;
            }

        }
        @keyframes pulse-animation {
            0% {
                box-shadow: 0 0 0 0 rgba(74, 222, 128, 0.6),
                            0 0 4px rgba(74, 222, 128, 0.9);
            }

            100% {
                box-shadow: 0 0 0 18px rgba(74, 222, 128, 0),
                            0 0 6px rgba(74, 222, 128, 0);
            }
        }
        .changes {
            opacity: 1;
            visibility: visible;
        }
    }

    .candidate__input {
        display: block;
        margin-top: 20px;
        input {
            margin-left: 20px;
            border: none;
            border-bottom: 1px solid blue;
            background-color: inherit;

            &:focus {
                border: none;
                outline: none;
                border-bottom: 1px dashed blue;
            }
        }
    }

    .send__answers {
        @include btn;
        @include disabled(#e9ebec);
    }

    .checkboxContainer {
        @include cb.checkbox-container;
        @include cb.checkbox-container-input;
        @include cb.checkbox-checkmark;
        @include cb.checkbox-checked;
        @include cb.checkbox-checkmark-after;
    }
    .radioContainer {
        @include cb.radio-container;
        @include cb.radio-container-input;
        @include cb.radio-checkmark;
        @include cb.radio-checked;
        @include cb.radio-checkmark-after;
    }
}

@media screen and (max-width: 768px) {
    .create {
        &__operation {
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 576px) {
    .create {
        .create__content {
            .create__question {
                .create__question_content {
                    flex-direction: column;
                        gap: 20px;
                }
                
            }
        }
    }
}