@use '../base/variables.scss' as *;
@use '../base/mixins.scss' as *;
.error {
    margin-top: 50px;
    text-align: center;
    &__img {
        margin: 0 auto;
        height: auto;
        overflow: hidden;
        object-fit: cover;
    }
    &__title {
        margin-top: 10px;
        color: rgb(147, 9, 9); 
        font-weight: normal;
        font-size: 18px;
    }
    & button {
        @include btn;
    }
}