@use '../base/mixins.scss' as *;


.auth {
    height: 100vh;
    display: grid;
    gap: 30px;
    text-align: center;
    place-content: center;

    &__form {
        padding: 20px;
        border: 1px dashed var(--text--color);
        border-radius: 12px;
        background-color: var(--background);
        box-shadow: var(--shadow--color);
    }
}

.form {
    width: 400px;
    min-height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    transition: all 0.2s;

    fieldset {
        border: none;
        padding: 10px 20px 0 20px;
    }

    &__field {
        position: relative;
        width: 100%;
        margin-bottom: 30px;
        transition: opacity 0.5s;
    }

    label,
    input {
        transition: all 0.2s;
    }

    input {
        font-size: 16px;
        display: block;
        width: 100%;
        height: 50px;
        padding: 10px 20px;
        border: 1px solid #3D85D8;
        border-radius: 10px;
        cursor: text;
        background: #fff;
        color: #323840;
    }
    
    input:focus {
        outline: none;

        ~label {
            top: -16px;
        }
    }

    input:not(:placeholder-shown)~label {
        top: -16px;
    }

    label {
        color: #4a86cc;
        font-size: 13px;
        position: absolute;
        pointer-events: none;
        left: 15px;
        top: 13px;
        padding: 0 5px;
        background: transparent;
        transition: 0.2s ease all;
    }
    .eye {
        position: absolute;
        top: calc(74px - 57px);
        right: 5%;
        color: #323840;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;
    }

    &__login, &__registration {
        @include btn;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 0;
        &:disabled {
            @include disabled
        }
    }
    &__alternative {
        margin: 0 auto;
        width: 30px;
        position: relative;
        margin-top: 20px;
        text-align: center;
    }

    &__alternative::before {
        content: '';
        display: block;
        position: absolute;
        top: 9px;
        left: -20px;
        width: 20px;
        border: 1px solid var(--text--color);
    }
    &__alternative::after {
        content: '';
        display: block;
        position: absolute;
        top: 9px;
        left: 30px;
        width: 20px;
        border: 1px solid var(--text--color);
    }
    &__login {
        margin-top: 20px;
    }
    &__error, &__errorFields {
        opacity: 0;
        font-size: 16px;
        pointer-events: none;
        text-align: center;
        margin: 0 0 20px 0;
        color: #9f0d0d;
        transition: 
            opacity 0.2s ease,
    }

    &__errorFields {
        margin: 5px 0 0 0;
    }
    &__errorFields.active,
    &__error.active {
        opacity: 1;
        font-size: 16px;
        pointer-events: auto;
    }
}