.header {
    position: relative;
    width: 100%;
    padding: 10px 10px;
    background-color: rgba(208, 202, 202, 0.607);
}

.header__img {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

    img {
        cursor: pointer;
        width: 50px;
        height: auto;
        object-fit: cover;
    }
}

.menu {
    position: absolute;
    z-index: 0;
    top: 50px;
    right: 20px;
    width: 150px;
    padding: 8px 0;
    background-color: rgba(34, 33, 33, 0.604);
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgb(136, 130, 130);
    opacity: 0;

    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        li {
            width: 100%;
            height: 30px;
            line-height: 30px;
            transform: translateY(5px);
            opacity: 0;
            transition: opacity 0.25s ease,
                transform 0.25s ease;

            a {
                padding: 10px;
                color: #ffff;
                font-size: 16px;
                font-weight: 500;
            }
        }

        li:hover {
            background-color: rgba(239, 237, 237, 0.604);
        }
    }
}

.menu.active {
    z-index: 2;
    opacity: 1;
}

.menu.active ul li {
    opacity: 1;
    transform: translateY(0);
}

.menu ul li:nth-child(1) {
    transition-delay: 0.05s;
}

.menu ul li:nth-child(2) {
    transition-delay: 0.10s;
}

.menu ul li:nth-child(3) {
    transition-delay: 0.15s;
}

.menu ul li:nth-child(4) {
    transition-delay: 0.20s;
}