.modal {
    padding: 50px;
    text-align: center;
}

.overlay {
    display: flex;
    opacity: 0;
    place-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    background: rgb(60 90 132 / 20%);
    backdrop-filter: blur(10px);
    visibility: hidden;
    pointer-events: none;
    z-index: -1;
    transition: opacity 0.5s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    z-index: 1;
    transition: opacity 0.5s ease;
}

.inner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    min-height: 250px;
    overflow: auto;
    padding: 20px 20px;
    z-index: 1;
}

.form {
    width: 440px;

    .title {
        font-size: 18px;
        font-weight: 700;
    }

    fieldset {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        border: 1px solid #ab15151d;
        backdrop-filter: blur(30px);
        border-radius: 20px;
        padding: 20px 20px;

        .form__control {
            display: flex;
            flex-direction: column;
            gap: 12px;

            label {
                text-align: start;
                color: #fff;
                font-size: 14px;
                font-weight: bold;
            }

            input {
                width: 100%;
                height: 37px;
                padding: 10px;
                border: none;
                font-weight: 300;
                font-size: 14px;
                color: #4B4B4B;
                border-radius: 8px;
            }

            input:focus {
                outline: none;
                border: 2px solid rgb(71, 208, 215);
            }
        }

        .button {
            margin-top: 20px;
            width: 100%;
            height: 45px;
            padding: 10px 0;
            border: none;
            border-radius: 8px;
            background-color: rgba(5, 63, 135, 0.951);
            font-weight: 300;
            font-size: 16px;
            color: #ffff;

            &:not(:disabled):hover {
                    --foreground: #fff;
                    background-color: rgba(5, 102, 12, 0.982);
                }
            
            &:disabled {
                cursor: no-drop;
            }
        }

    }

}

.create__btn {
    position: relative;
    display: block;
    margin: 20px auto 20px auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: var(--bg--primary);
    transition: .2s;

    &::before,
    &::after {
        content: '';
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 2px;
        background-color: var(--foreground);
    }

    &::after {
        width: 2px;
        height: 20px;
    }

    &:hover {
        box-shadow: 1px 2px 10px #c2c1c1;
    }
}

.modal__open {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 150px;
    padding: 10px 10px;
    border-radius: 10px;
}

.modal__close {
    position: absolute;
    display: flex;
    place-content: center;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    line-height: 30px;
    color: rgb(123, 3, 3);
    font-size: 27px;
    font-weight: bold;
    top: 8px;
    right: 29px;
    cursor: pointer;
    z-index: 2;
}