@use '../base/variables.scss' as *;
.btn__back {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    color: blue;
    min-width: 220px;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 12px;
    border: none;
    background-color: var(--bg--primary);
    transition: .5s;

    &:hover {
        box-shadow: 1px 2px 10px #c2c1c1;
    }
}
