@use '../base/variables.scss' as *;
@use '../base/mixins.scss' as *;

.profile {
    padding: 50px 50px;

    &__section {
        padding: 20px 20px;
    }
    &__title, 
    &__subtitle {
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        color: var(--text--color);
    }
    &__subtitle {
        font-size: 20px;
    }

    &__content,
    &__settings,
    &__statistics,
    &__security {
        position: relative;
        width: 50%;
        margin-top: 20px;
        padding: 20px;
        border: 2px dotted lightgray;
        z-index: 1;
    }


    &__content::before,
    &__settings::before,
    &__statistics::before,
    &__security::before {
        content: "";
        display: block;
        position: absolute;
        inset: -2px;  
        background:
            linear-gradient(90deg,
                transparent,
                #00f6ff,
                transparent);
        background-size: 300% 100%;
        animation: neon-border 3s linear infinite;
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        mask-composite: exclude;
        padding: 2px; 
        pointer-events: none;
        filter: blur(1.5px);
        z-index: 0;        
    }
    
    @keyframes neon-border {
        0% {
            background-position: 0% 50%;
        }

        100% {
            background-position: 300% 50%;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: safe center;
        gap: 20px;
    }

    // Info
    &__info {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 20px;

        &_image {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &_data {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: safe start;
            gap: 10px;
        }
        &_item {
            color: var(--text--color);
            font-weight: normal;
            font-size: 18px;
        }
        &_file {
            margin: 20px auto 0 auto;
            width: 200px;
            border: 1px dashed var(--text--color);
            background-color: var(--background);
            padding: 14px;
            border-radius: 16px;
            box-shadow: 0 4px 14px rgba(0,0,0,0.08);
            display: flex;
            flex-direction: column;
            gap: 14px;
        }
        &_upload {
            border-radius: 12px;
            text-align: center;
            cursor: pointer;
            color: var(--text--color);
        }
    }

    // Settings
    &__settings {
        margin-top: 0;
        &_notifications {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: safe start;
            gap: 20px;
        }
        &_link, &_theme {
            font-weight: normal;
            color: var(--text--color);
            transition: color 0.25s ease, text-decoration 0.25s ease;
        }
        &_theme {
           button {
            font-size: 20px;
            margin-left: 30px;
            border: none;
            background-color: transparent;
            color: var(--text--color);
           }
            button:before {
                transition: color 0.25s ease;
            }
            button[data-btn="sun"]:hover::before {
                color: #ffd84d;
            }
            button[data-btn="moon"]:hover::before {
                color: #7aa2f7;
            }
        }

         &_link:hover {
            color: #0c4cd7;
            text-decoration: underline;
         }
    }

    // Statistics 
    &__statistics {
        margin-top: 0;
    
        &_desc {
            margin-top: 30px;
            color: var(--text--color);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: safe start;
            gap: 10px;
        }
    }

    // Security
    &__security {
        &_btn, .delete {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin: 30px auto 0 auto;
            padding: 10px 14px;
            background: var(--background);
            color: var(--text--color);
            border-radius: 14px;
            border: 1px dashed rgb(255, 5, 5);
            transition: box-shadow 0.2s ease, transform 0.2s ease;
            @include disabled;
            &:hover {
                box-shadow: 0 0 24px rgba(33, 33, 33, .2);
                transform: translateY(-1px);
            }

            &.delete {
                border: none;
                background: rgb(159, 16, 16);
                color: #fff;
            }
        }
        hr {
            margin: 20px 0;
        }
        &_danger {
            text-align: center;
            color: rgb(171, 171, 39);
        }
    }

}