@use '../base/variables.scss' as *;


.vertical__sidebar {
    display: flex;
    inline-size: 270px;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.nav {
    background: var(--background);
    display: flex;
    flex-flow: column;
    min-width: 52px;
    height: 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    flex: 0 0 auto;
    transition: flex-basis 300ms ease-out;
    will-change: flex-basis;
    padding: 8px;
    box-shadow: 0 3px 5px #1233, 0 5px 17px #0003;
}

.vertical__sidebar :checked~.nav {
    flex-basis: 230px;
}

.vertical__sidebar :not(:checked)~.nav {
    flex-basis: 52px;
}

.header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 8px;
}

.sidebar__toggle_container {
    display: flex;
    justify-content: end;
    block-size: 36px;
}

.nav__toggle {
    block-size: 100%;
    background: none;
    transition: all 233ms ease-in;
    border-radius: calc(12px - 8px);
    outline: 2px solid transparent;
    outline-offset: -2px;
    overflow: hidden;
}

.nav__toggle:hover {
    outline: 2px solid hsl(206, 90%, 56%);
}

.toggle__icons {
    block-size: inherit;
    aspect-ratio: 1;
    display: inline-grid;
    place-content: center;
    grid-template-areas: "svg";
    z-index: 10;
}


.toggle__svg_icon {
    grid-area: svg;
    fill: var(--text--color-sideBar);
    transition: fill 233ms ease-in;
}

.toggle__icons:hover .toggle__svg_icon {
    fill: var(--text--color-sideBar);
}

.figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    container-type: inline-size;
    gap: 6px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        aspect-ratio: 1/1;
    }
}

.logo {
    margin-inline: auto;
    display: block;
    min-inline-size: 36px;
    max-inline-size: 45cqi;
    aspect-ratio: 1;
    block-size: 100%;
    clip-path: circle(40%);
    object-fit: cover;
    transition: width 100ms linear;
}

.figcaption {
    text-align: center;
}

.user__id {
    font-size: 17px;
    font-weight: 500;
    margin-block-end: 4px;
    color: var(--text--color-sideBar);
}

.sidebar__wrapper {
    display: flex;
    flex-flow: column;
    gap: 8px;
}

.sidebar__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 2px;
    overflow: hidden;
}

.sidebar__item {
    block-size: 36px;
    border-radius: calc(12px - 8px);
}

.sidebar__link {
    display: flex;
    text-decoration: none;
    block-size: 100%;
    width: 100%;
    align-items: center;
    gap: 8px;
    border: none;
    outline: 2px solid transparent;
    border-radius: inherit;
    padding: 0;
}

.icon {
    aspect-ratio: 1;
    block-size: 100%;
    display: inline-grid;

    span {
        place-self: center;
        inline-size: 18px;
        block-size: 18px;
        color: hsl(200, 10%, 50%);
    }

    span::before {
        margin-left: 0;
        margin-right: 0;
    }
}

.text {
    pointer-events: none;
    color: var(--text--color-sideBar);
    font-size: 14px;
    font-weight: 500;
    transition: color 266ms ease-out;
}

.sidebar__link:hover {
    background: hsl(200, 7%, 84%);

    .icon span {
        color: hsl(206, 90%, 56%);
    }

    .text {
        color: hsl(203, 4%, 29%);
    }
}

.sidebar__link:focus {
    outline: 2px solid hsl(206, 79%, 58%);
    outline-offset: -2px;
    background: hsl(203, 100%, 100%);

    .icon span {
        color: hsl(206, 90%, 56%);
    }
}

.sidebar__link:active {
    background-color: hsla(203, 86%, 93%, 0.7);
}


.item__heading {
    display: flex;
    align-items: end;
}

.sidebar__item_heading {
    margin-block-end: 6.4px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    font-weight: 500;
    color: hsl(200, 10%, 50%);
    transition: color 200ms ease-in;
}

.sidebar__list:has(.sidebar__link):hover .sidebar__item_heading {
    color: var(--text--color-sideBar);
}


/* Скрываем  Названия Заголовка */
aside:not(:has(:checked)) :where(.figcaption, .item__heading) {
    opacity: 0;
}

aside:has(:checked) :where(.figcaption, .item__heading) {
    transition: opacity 300ms ease-in 200ms;
}

/* Изменения иконок меню при открытии и закрытии */
aside:not(:has(:checked)) .toggle__open,
aside:has(:checked) .toggle__close {
    opacity: 0;
}

/* Показ подсказок */
[data-tooltip]::before {
    content: attr(data-tooltip);
    position: fixed;
    translate: calc(36px * 1.5) calc(36px * 0.125);
    border-radius: calc(12px - 8px);
    padding: 0.5rem 0.75rem;
    color: #ddd;
    background-color: hsl(198, 16%, 30%);
    box-shadow: 0 6px 12px -6px #0003;
    opacity: 0;
    pointer-events: none;
    scale: 0 0;
    z-index: 999;
    font-size: 0.875rem;
    font-weight: 500;
    transition: all 350ms ease-out;
}

aside:not(:has(:checked)) .sidebar__link:where(:hover, :focus-visible)[data-tooltip]::before {
    opacity: 1;
    scale: 1;
}