.center {
    height: 100vh;
    display: grid;
    place-items: center;
}
.loader {
    position: relative;
    width: 466px;
    height: 224px;
    border: 1px solid #d3dede;
    padding: 15px;
    background-size: #7e7e7e;
    overflow: hidden;  
}
.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.loader .wrapper>div {
    background-color: #cacaca;
}
.loader .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.loader .line {
    position: absolute;
    height: 10px;
    background-color: #cacaca;
}
.loader .line1 {
    top: 11px;
    left: 58px;
    width: 100px;
}
.loader .line2 {
    top: 34px;
    left: 58px;
    width: 150px;
}
.loader .line3 {
    top: 57px;
    left: 0;
    width: 100%;
}
.loader .line4 {
    top: 80px;
    left: 0;
    width: 92%;
}
.loader .line5 {
    top: 103px;
    left: 0;
    width: 80%;
}
.loader .line6 {
    top: 126px;
    left: 0;
    width: 70%;
}
.loader::after{
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(110deg,
        #e3e3e300 0%, #e3e3e300 40%,
        #e3e3e380 50%, #e3e3e300 60%,
        #e3e3e300 100%,
    );
    animation: shimmer 1.2s linear infinite;
}

@keyframes shimmer {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
