@use '../base/variables.scss' as *;

.summary {
    padding-bottom: 50px;
    &__center {
        display: grid;
        place-content: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        border: 1px dashed rgb(67, 143, 67);
    }

    &__title {
        text-align: center;
        font-size: 30px;
        padding: 10px 0; 
        color: var(--text--color);
    }

    &__desc, &__result {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        padding: 20px;
        color: var(--text--color);
        border-top: 1px dashed rgb(67, 143, 67);

        & li {
            display: flex;
            justify-content: space-between;
            gap: 30px;
        }
    }

}