@use '../base/variables.scss' as *;

.summary {
    &__block {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 10px; 
        border: 1px dashed rgb(67, 143, 67);
    }

    &__title {
        text-align: center;
        font-size: 30px;
        padding: 10px 0;
    }

    &__desc,
    &__result {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        padding: 20px;
        color: var(--text--color);
        border-top: 1px dashed rgb(67, 143, 67);

        & li {
            display: flex;
            justify-content: space-between;
            gap: 30px;
        }
    }
    &__waring {
        display: inline-block;
        align-content: end;
        text-align: center;
        height: 100%;
        color: #bcbc22;
        &::before {
            vertical-align: unset;
        }
    }
}
