@use '../base/variables.scss' as *;
@use '../base/mixins.scss' as *;

.flashcard {
    padding: 20px;
    height: 100%;
    overflow: hidden;

    .icon {
        margin-left: 10px;
        font-size: 20px;
        color: var(--text--color);
        cursor: pointer;
        border: none;
        background-color: inherit;
    }

    .title,
    .title__study {
        color: var(--text--flash);
        font-weight: 500;
    }

    .title__study {
        margin-top: 5px;
        text-align: center;
    }

    label {
        color: var(--text--flash);
        margin-bottom: 5px;
        display: block;
        font-weight: 500;
    }

    .select {
        color: rgb(36, 36, 122);

        & input {
            height: 30px;
        }

    }

    &__breadcrumb {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: baseline;
        gap: 20px;
        position: relative;

        &_link {
            display: flex;
            justify-content: center;
            align-items: center;

            & .back {
                display: block;
                color: var(--text--flash);
                font-size: 14px;
                font-weight: 300;
                border: none;
                background-color: inherit;
                cursor: pointer;

                span {
                    margin-right: 5px;
                }
            }

            & .back:hover {
                text-decoration: underline;
            }

            & .divider {
                position: relative;
                margin-right: 20px;

                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 35px;
                    height: 1px;
                    background-color: #a59797;
                    transform: rotate(90deg);
                }
            }
        }

        &_content {
            min-width: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;

            & .title {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }

            & .abb {
                width: 40px;
                height: 40px;
                border-radius: 10px;
                font-weight: 600;
                color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            & .label {
                border: none;
                background-color: transparent;
                field-sizing: content;
                font-size: 25px;
                font-weight: 700;
                color: var(--text--flash);

                &:focus {
                    outline: none;
                }
            }

            & .desc {
                border: none;
                background-color: transparent;
                field-sizing: content;
                align-self: flex-start;
                margin-left: 52px;
                color: #9299A6;
                font-size: 15px;

                &:focus {
                    outline: none;
                }
            }
        }

        &_btn {
            display: flex;
            flex-grow: 1;
            justify-content: end;

            & .study {
                @include btn;
                margin: 0;
                min-width: 100px;
                padding: 10px 10px;
                background-color: #1C6AE5;
                color: #ffffff;
                font-weight: 400;
                text-align: center;
            }
        }
    }

    /* Actions Block */
    &__actions {
        margin-top: 30px;
        display: flex;
        gap: 16px;
        align-items: flex-start;
        transition: all 0.4s;

        & .block__cards_wrapper,
        & .block__editor_wrapper {
            margin-top: 30px;
            border-radius: 10px;
            border: 1px dashed #e4c2c2;
            box-shadow: -8px 0 24px rgba(0, 0, 0, 0.08);
        }

        & .block__cards_wrapper {
            position: relative;
            width: 100%;
            transition: width 0.2s ease;
            will-change: width;

            & .progress {
                color: var(--text--flash);
                text-align: center;
                padding: 20px;
                font-size: 20px;
                font-weight: 400;
                opacity: 0;
                transition: opacity 0.5s;

                &.visible {
                    opacity: 1;
                }
            }

            &.open {
                width: 50%;
            }
        }

        & .block__editor_wrapper {
            width: 0;
            height: 0;
            opacity: 0;
            overflow: hidden;
            transition: all 0.2s ease;
            will-change: width, height, opacity;

            &.open {
                opacity: 1;
                width: 50%;
                height: 100%;
            }
        }


        & .block__cards,
        & .block__editor,
        & .block__filters {
            background-color: var(--background--flash);
            border: 1px solid rgba(255, 255, 255, 0.05);
            padding: 15px;
            border-radius: 10px;

            & .title {
                span {
                    font-weight: normal;
                }
            }

            &_search {
                margin-top: 5px;
                position: relative;
                width: 100%;

                & span {
                    position: absolute;
                    left: 12px;
                    top: 12px;
                    color: var(--text--flash);
                    font-weight: 400;
                }

                & input[type='search'] {
                    @include fields;
                    width: 100%;
                    height: 35px;
                    border-radius: 10px;
                    padding-left: 40px;

                    &:focus {
                        @include outline;
                    }
                }
            }

            &_empty {
                padding: 20px;

                & img {
                    border-radius: 10px;
                    display: block;
                    margin: 0 auto;
                    object-fit: cover;
                }
            }

            &_items {
                -webkit-mask-image: linear-gradient(to bottom,
                        transparent 0%,
                        black 5%,
                        black 85%,
                        transparent 100%);

                mask-image: linear-gradient(to bottom,
                        transparent 0%,
                        black 5%,
                        black 85%,
                        transparent 100%);

                height: 350px;
                margin-top: 10px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                gap: 20px;
                overflow-y: auto;
                transition: all 0.5s ease;

                li {
                    width: 100%;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    border-radius: 10px;
                    background-color: var(--background--flash--item);
                    border: 1px solid rgba(255, 255, 255, 0.05);
                    border-left: 4px solid #1C6AE5;
                    transition: background-color 0.5s;
                    box-shadow:
                        0 1px 3px rgba(0, 0, 0, 0.05),
                        0 4px 12px rgba(0, 0, 0, 0.08);

                    & .question {
                        color: var(--text--flash);
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        gap: 10px;

                        span {
                            align-self: flex-start;
                        }
                    }

                    & .answer {
                        color: var(--text--flash);
                        margin-left: 23px;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        line-clamp: 1;
                        -webkit-line-clamp: 1;
                        overflow: hidden;
                    }

                    & .icons {
                        @include icons;
                        align-self: flex-end;

                        button[data-btn="Edit"]:enabled:hover::before {
                            transform: none;
                        }

                        button[data-btn="Delete"]:hover::before {
                            transform: none;
                        }
                    }

                    &.card__edit {
                        cursor: pointer;
                    }

                    &.card__active {
                        background-color: #a7d7fa;
                    }
                }
            }

            &_btnadd {
                @include btn;
                width: 50%;
                border: 1px dotted var(--text--flash);
                color: #1C6AE5;
            }
        }


        /* Editor Block */
        & .block__editor {
            &_pagination {
                display: flex;
                justify-content: space-between;
                align-items: center;

                & .actions {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & .counter {
                        margin-right: 30px;
                        color: #969191;
                        font-weight: 300;
                        font-size: 15px;
                    }

                    & .btn_down,
                    & .btn_up {
                        margin-right: 10px;
                        background-color: var(--background--flash);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 30px;
                        height: 30px;
                        border: 1px solid #d9d2d2;
                        border-radius: 6px;
                        cursor: pointer;
                        transition: all 0.5s;

                        &::before {
                            font-weight: 300;
                            color: var(--text--flash);
                        }

                    }

                    & .btn_down:hover,
                    & .btn_up:hover {
                        background-color: rgb(15, 130, 211);

                        &::before {
                            color: #ffffff;
                        }
                    }

                    & .btn_down:active,
                    & .btn_up:active {
                        transform: translateY(4px);
                    }

                    & .btn_down:disabled,
                    & .btn_up:disabled {
                        @include disabled;
                    }
                }
            }

            &_form {
                background-color: var(--background--flash--item);
                border-radius: 10px;
                border: 1px solid #d9d2d2;
                padding: 10px;
                margin-top: 10px;
                @include form;
                align-items: flex-start;

                & .notify {
                    color: #b70f0f;
                    font-size: 15px;
                    font-weight: 400;
                    margin: 0 auto;
                }

                & .fields_item {
                    width: 100%;

                    label {
                        color: var(--text--flash);
                        margin-bottom: 5px;
                        display: block;
                        font-weight: 500;
                    }

                    & input,
                    & textarea {
                        @include fields;
                        height: 40px;
                        margin-top: 0;
                    }

                    & input:focus,
                    & textarea:focus {
                        @include outline;
                    }

                    & textarea {
                        height: unset;
                        @include textarea;
                    }

                    & .editor {
                        color: #2C3649;
                    }
                }

                & .btn__group {
                    width: 100%;
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    & .save,
                    & .discard {
                        @include btn;
                        font-weight: 400;
                        min-width: 100px;
                        padding: 12px 12px;
                        font-size: 15px;
                        margin: 0;
                    }

                    & .save {
                        background-color: #1D6CE6;
                        color: #ffffff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;

                        &:disabled {
                            @include disabled;
                        }
                    }

                    & .discard {
                        color: #ffffff;
                        background-color: #6B7280;
                    }
                }
            }
        }

        /* Block Study */

        & .block__study {
            padding: 20px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            overflow: hidden;
            cursor: pointer;

            &_question {
                min-height: 50px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                position: relative;
                gap: 20px;
                width: 100%;
                user-select: none;
            }

            &_title {
                font-size: 20px;
                font-weight: 500;
                color: var(--text--flash);
                width: 70%;
                text-align: center;
            }

            &_sound {
                position: absolute;
                right: 0;
                top: 0;

                & .volume_on,
                & .volume_off {
                    background-color: unset;
                    border: unset;
                    cursor: pointer;
                    color: var(--text--flash);

                    &.play {
                        color: rgb(10, 142, 219);
                    }
                }

                & .volume_off {
                    margin-left: 10px;

                    &.play {
                        color: rgb(212, 7, 7);
                    }
                }
            }

            &_img {
                margin: 10px auto 0 auto;
                display: block;
                width: 100px;
                height: auto;

                img {
                    width: 100%;
                    object-fit: contain;
                }
            }

            &_difficulty {
                display: block;
                width: 30px;
                height: 30px;
                background-color: rgba(10, 142, 219, 0.648);
                border-radius: 50%;
                line-height: 30px;
                text-align: center;
                color: #ffffff;
                font-weight: 500;
            }

            &_repetition {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;

                & .know,
                & .review {
                    background-color: unset;
                    border: unset;
                    cursor: pointer;
                    color: var(--text--flash);
                    font-weight: 500;
                    user-select: none;
                }

                & .know {
                    &.active {
                        color: rgb(27, 170, 27);
                    }
                }

                & .review {
                    &.active {
                        color: rgb(10, 142, 219);
                    }
                }
            }

            &_answer {
                width: 100%;

                & .answer__content {
                    user-select: none;
                    display: block;
                    padding: 10px;
                    font-size: 16px;
                    line-height: 1.7;
                    color: var(--text--flash);
                    letter-spacing: 0.2px;
                    word-break: break-word;
                }

                & h4 {
                    text-align: center;
                    color: var(--text--flash);
                    font-weight: 500;
                }

                & .example {
                    position: relative;
                    padding: 10px;
                    border: 1px solid rgba(255, 255, 255, 0.05);
                    color: var(--text--flash);

                    & .icons {
                        right: 0;
                        position: absolute;
                        background-color: unset;
                        border: unset;
                        color: var(--text--flash);

                        &.copied {
                            color: rgb(36, 189, 36);
                        }
                    }

                    .type {
                        margin-left: 10px;
                        margin-top: 20px;
                        letter-spacing: 0.2px;
                        word-break: break-word;
                        font-size: 16px;
                        line-height: 1.7;
                        display: block;
                        background-color: unset;
                    }
                }
            }
        }


    }

    & .navigation {
        position: absolute;
        width: 100%;
        top: -56px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .btn__left,
        & .btn__right {
            cursor: pointer;
            background-color: unset;
            color: var(--text--flash);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid rgb(187, 179, 179);
            transition: all 0.5s;

            &:disabled {
                @include disabled;
            }
        }

        & .btn__left:hover,
        & .btn__right:hover {
            background-color: rgb(205, 198, 198);
            color: rgb(196, 9, 9);
        }

        & .count {
            color: var(--text--flash);
            font-weight: 500;
        }
    }

    & .block__filters {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        &_select {
            width: 100%;
        }

        & .reset {
            @include btn;
            align-self: flex-start;
            width: 20%;
            margin: 0 auto;
            border: 1px dotted var(--text--flash);
            color: #1C6AE5;
        }
    }

    & .block__start {
        margin-top: 26px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;

        & .btn__start {
            @include btn;
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: center;
            width: fit-content;
            margin: 0;
            border: 1px dotted var(--text--flash);
            color: #1C6AE5;

            &:disabled {
                @include disabled;

            }
        }

        & .empty {
            color: var(--text--flash);
            font-weight: 500;
        }
    }
}


@media screen and (max-width: 992px) {
    .flashcard {
        &__actions {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;

            & .block__cards_wrapper {
                width: 100%;

                &.open {
                    width: 100%;
                }
            }

            & .block__editor_wrapper {
                &.open {
                    margin-left: 0;
                    opacity: 1;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}