@use './variables.scss' as *;


html,
body {
    max-width: 100vw;
}

body {
    padding-right: 0 !important;
    color: var(--text--color);
    background-color: var(--background);
    font-family: "Rubik", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // было overflow-x: hidden; поставил в auto, чтоб не было смещений при открытии Swal.fire и своей модалки
    overflow: auto !important;
    position: relative;
    min-height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-inline-size: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Для sideBar */

input[type="checkbox"] {
    display: none;
}

label,
button {
    cursor: pointer;
}

figure {
    margin-inline: 0;
    margin-block-start: 30px;
    margin-block-end: 4px;
}

/* Для sideBar */

.title {
    font-size: 35px;
    font-weight: 700;
    color: var(--text--color);
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 10px;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }
}