
// CheckBox, Radio buttons
@mixin container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

@mixin checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


// Icons Button
@mixin icons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

    button {
        position: relative;
        width: 24px;
        height: 24px;
        cursor: pointer;
        border: none;
        background: none;
    }

    button::before {
        font-size: 18px;
        display: inline-block;
        transition: transform .2s ease-in, color .2s ease-in;
    }

    button[data-btn="Link"]:hover::before {
        color: rgb(75, 75, 234);
        transform: scale(1.3);
    }

    button[data-btn="Edit"]:hover::before {
        color: rgb(44, 239, 44);
        transform: scale(1.3);
    }

    button[data-btn="Delete"]:hover::before {
        color: rgb(201, 0, 0);
        transform: scale(1.3);
    }

    /* Показ подсказок */
    button[data-btn]::after {
        content: attr(data-btn);
        position: absolute;
        top: -35px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: calc(12px - 8px);
        padding: 0.5rem 0.75rem;
        color: #ddd;
        background-color: hsl(198, 16%, 30%);
        box-shadow: 0 6px 12px -6px #0003;
        opacity: 0;
        pointer-events: none;
        scale: 0 0;
        z-index: 999;
        font-size: 0.875rem;
        font-weight: 500;
        transition: all 350ms ease-out;
    }
    button:hover[data-btn]::after {
        opacity: 1;
        transform: translateX(-50%) translateY(-4px);
    }
}



// Disabled style for buttons
@mixin disabled($hover-color: #0a6c0a) {
    &:not(:disabled):hover {
        --foreground: #fff;
        --bg--primary: #{$hover-color};
    }

    &:disabled {
        cursor: no-drop;
    }
}
