:root {
    --background: #ffffff;
    --foreground: #171717;
    --bg--primary: #e9ebec;
    --text--color: #1B2430;
    --text--flash: #2C3649;
    --background--flash: #F0F1F3;
    --background--flash--item: #EAEFF6;
    --background--item--active: #a7d7fa;
    --card-hover-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
            0 10px 20px rgba(0, 0, 0, 0.15);
}
