:root {
    --background: #ffffff;
    --foreground: #171717;
    --bg--primary: #e9ebec;
    --text--color: #1B2430;
    --text--flash: #2C3649;
    --background--flash: #F0F1F3;
    --background--flash--item: #EAEFF6;
}